footer {
    opacity: 1.0;
    color: white;
    flex-direction: column;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    z-index: 3;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0px 30px;
}

footer img {
    height: 35px;
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
    transition: all 0.7s ease;
}

footer img:hover {
    cursor: pointer;
    filter: invert(26%) sepia(89%) saturate(1583%) hue-rotate(95deg) brightness(96%) contrast(106%);
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

@media (max-width: 520px) {
    footer {
        display: none;
    }
}

@media (max-width: 915px) and (max-height: 415px) {
    footer {
        display: none;
    }
}
