header {
    display: flex;
    justify-content: space-between;
    opacity: 1.0;
    color: white;
    z-index: 3;
}

#logo {
    width: 250px;
}

#logo:hover {
    cursor: pointer;
    opacity: 0.6;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin-right: 50px;
    margin-top: 0px;
    font-size: 24px;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
}

nav ul li:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
}

@media (max-width: 520px) {
    header {
        display: none;
    }
}
