header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    height: 6%;
    justify-content: space-between;
    opacity: 1.0;
    color: white;
    z-index: 3;
}

#logo {
    width: 250px;
    opacity: 0.4;
}

#logo:hover {
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin-right: 50px;
    margin-top: 0px;
    font-size: 24px;
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
}

nav ul li:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: underline;
}