#index_page {
    display: flex;
    flex-direction: column;
}

#index_page #instructions {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#index_page #instructions p {
    width: 92%;
    padding: 20px;
    background: linear-gradient(45deg, rgb(25, 141, 236), rgb(224, 224, 255));
    border: 1px solid black;
    border-radius: 15px;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 0px 20px 5px rgba(46, 212, 253, 0.5);
}

#index_page section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 15px;
}

#index_page article {
    background: linear-gradient(45deg, rgb(25, 141, 236), rgb(224, 224, 255));
    width: 30%;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    position: relative;
}

#index_page article:hover {
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0, 0.5);
    transform: scale(1.05);
    transition: all 0.2s ease;
    cursor: pointer;
}

#index_page article p:first-child {
    margin: 10px 0px 0px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#index_page article #types {
    margin: -10px 0px 5px 0px;
    /* text-shadow: 0px 0px 10px white; */
    /* padding: 5px; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    /* border: 1px solid black; */
    border-radius: 10px;   
    top: 5px;
    left: -5px;
    /* background: linear-gradient(45deg, rgb(25, 141, 236), rgb(224, 224, 255)); */
}

#index_page article .hidden {
    display: none;
}

#index_page article > img {
    width: 100px;
}

#index_page article div {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

#index_page article div .multiplier-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-family:monospace;
    border: 2px solid white;
    border-right: none;
    background: linear-gradient(45deg, rgb(82, 82, 82), rgb(165, 165, 165));
    color: white;
    transition: all 0.1s ease;
}

#index_page article div .multiplier-list:hover {
    box-shadow: -10px 5px 10px 1px rgba(0, 0, 0, 0.568);
    transform: translate(1px, -1.5px);
    transition: all 0.1s ease;
}

#index_page article div .multiplier-list:first-child {
    border-radius: 5px 0px 0px 5px;
}

#index_page article div .multiplier-list:last-child {
    border-radius: 0px 5px 5px 0px;
    border-right: 2px solid white;
}

#index_page article div label {
    margin: 0px 5px;
}

#index_page article div ul {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

#index_page article div ul img {
    transition: all 0.1s ease;
}

#index_page article div ul img:hover {
    transform: scale(1.5);
    transition: all 0.1s ease;
}