#index_page {
    display: flex;
    flex-direction: column;
}

#index_page #instructions {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#index_page #instructions p {
    width: 92%;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#index_page section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 15px;
}

#index_page article {
    background-color: white;
    width: 30%;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}

#index_page article p {
    margin: 10px 0px 0px 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#index_page article div {
    display: flex;
    justify-content: space-evenly;
}

#index_page article div ul {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}