#nav_box {
    position: absolute;
    top: 75px;
    right: 55px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(25, 141, 236), rgb(224, 224, 255));
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#nav_box ul {
    margin: 0px;
    padding: 0px;
    text-align: right;
}

#nav_box li {
    padding: 8px;
}

#nav_box li:hover {
    background: linear-gradient(45deg, rgb(25, 236, 106), rgb(224, 224, 255));
    cursor: pointer;
}

#nav_box li:first-child:hover {
    border-radius: 15px 15px 0px 0px;
}

#nav_box li:last-child:hover {
    border-radius: 0px 0px 15px 15px;
}

#nav_box img {
    position: relative;
    box-sizing: border-box;
    top: 3px;
    margin: 0px 5px 0px 10px;
    height: 20px;
    width: 20px;
}

#nav_box li:last-child img {
    padding: 0px 2px;
}

@media (max-width: 520px) {
    #nav_box {
        position: static;
        border-radius: 0;
        width: 100vw;
    }

    #nav_box > ul > li {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
    }
}


@media (max-width: 915px) and (max-height: 415px) {
    #nav_box {
        position: sticky;
        bottom: 0;
        border-radius: 0;
        width: 100vw;
        height: 10vh;
        justify-content: center;
        box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 50%);
        z-index: 1;
    }

    #nav_box > ul {
        display: flex;
        justify-content: space-around;
    }

    #nav_box > ul > li {
        padding: 0;
    }
}
