#show_page {
    display: flex;
    justify-content: center;
}

#stats_container {
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 100%;
    align-items: center;
    margin-top: 70px;
    padding: 0px;
}

#stats_container section {
    opacity: 1;
    box-shadow:0px 0px 30px 0px rgb(31, 108, 128);
    margin: 0;
}

#main_content_container {
    display: flex; 
}

#main_content_container section {
    width: 450px;
    height: 450px;
    background: linear-gradient(45deg, rgb(25, 141, 236), rgb(224, 224, 255));
    border-radius: 20% 20% 20% 20%;
    margin: 25px 40px 25px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

#img_container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#img_container img {
    width: 400px;
    margin: 0;
    padding: 0;
}

#img_container div {
    padding: 25px 0px 0px 0px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

.button_container {
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#prev, #next {
    width: 70px;
    height: 70px;
    font-size: 50px;
    background-color: white;
    border-radius: 100%;
    margin: 90px 0px 0px 0px;
    padding: 0px;
    opacity: 0.5;
    background: linear-gradient(45deg, rgb(25, 141, 236), rgb(224, 224, 255));
    border: none;
    transition: all 0.1s ease;
}

#prev:hover, #next:hover {
    box-shadow: 0px 0px 10px 5px rgb(0, 174, 255);
}

#prev:active, #next:active {
    opacity: 0.75;
}

#sprites {
    width: 950px;
    height: 100px;
    background: linear-gradient(45deg, rgb(25, 141, 236), rgb(224, 224, 255));
    border-radius: 20%;
    display: flex;
    justify-content: space-evenly;
    transition: all 0.5s ease;
}

#sprites > img {
    opacity: 0.5;
    transition: all 0.1s ease;
}

#sprites > img:hover {
    cursor: pointer;
    opacity: 1;
}

#sprites > .selected {
    opacity: 1;
    position: relative;
    transform: translateY(-5px);
    transition: all 0.1s ease;
}

#description {
    background: linear-gradient(45deg, rgb(25, 141, 236), rgb(224, 224, 255));    
    width: 950px;
    height: 75px;
    border-radius: 20%;
    font-size: 0.9em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.5s ease;
}

#description > p {
    width: 75%;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 0px 0px 8px rgb(53, 53, 53);
    font-size: 16px;
}

#new_view_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 100px;
    right: 40px;
    background: white;
    height: 200px;
    width: 200px;
    border-radius: 20px;
}

#new_view_container > button {
    border-radius: 20px;
    margin: 10px;
    height: 50%;
}