#size_page > div:first-child {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 100px;
    width: 95%;
}

#size_page input {
    background: transparent;
    border-color: transparent;
    color: transparent;
    width: 75%;
    z-index: 4;
}

#size_container {
    display: flex;
    width: 100%;
    overflow: scroll;
}

#size_container::-webkit-scrollbar {
    display: none;
}

#size_container > .size_tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#size_container > .size_tile:first-child {
    margin-left: 100px;
}

#size_container p {
    margin: 0px;
    padding: 0px;
    color: white;
    text-shadow: 0px 0px 10px white;
}

@media (max-width: 915px) and (max-height: 415px) {
    #size_page > div:first-child {
        top: 10vh;
    }
}
