#pokeball {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#red {
    background-image: linear-gradient(45deg, rgb(49, 0, 0), rgb(255, 35, 35));
    height: 50vh;
    width: 100vw;
    position: absolute;
    top: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#black {
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(44, 44, 44));
    height: 80px;
    width: 100vw;
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

#white {
    background-image: linear-gradient(45deg, rgb(37, 37, 37), rgb(255, 255, 255));
    height: 50vh;
    width: 100vw;
    position: absolute;
    bottom: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#b_circle {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(53, 53, 53));

    display: flex;
    align-items: center;
    justify-content: center;
}

#w_circle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, rgb(59, 59, 59), rgb(255, 255, 255));
    transition: all 0.70s ease;
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
}

#w_circle:hover {
    height: 240px;
    width: 240px;
    cursor: pointer;
    box-shadow: 0px 0px 200px 30px red;
}

/* #title_container {
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

#red > #logo {
    cursor: pointer;
    opacity: 0;
    transition:
        opacity 1s ease-in,
        width 0.2s ease-out;
    width: 500px;
    height: 124px;

    position: relative;
    z-index: 2;
}

#red > #logo.load {
    opacity: 1;
}

#red > #logo.load:hover {
    width: 515px;
    height: 124px;
    transition:
        width 0.2s ease-out,
        opacity 0.3s ease-in-out;
}

#white > #instructions_text {
    width: 500px;
    text-align: center;
    transition:
        opacity 0.5s ease-in,
        text-shadow 0.2s ease-in;

    position: relative;
    z-index: 2;
}

#instructions_text {
    transition: text-shadow 0.2s ease-in;
    text-shadow:1px 1px 10px rgb(22, 145, 245), 1px 1px 10px #ccc;
}

#instructions_text:hover {
    transition: text-shadow 0.2s ease-in;
    text-shadow:1px 1px 10px rgb(97, 255, 105), 1px 1px 10px #ccc;
}

.hide {
    transition: opacity 0.5s ease-in;
    opacity: 0;
}
