#pokeball {
    display: flex;
    flex-direction: column;
}

#title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



#red, #black, #white {
    position: absolute;
    opacity: 1;
    z-index: -1;
    top: 0;
}

#red {
    left: 0px;
    top: 0px;
    height: 45vh;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(49, 0, 0), rgb(255, 35, 35));
}

#black {
    z-index: -2;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;     
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(44, 44, 44));
}

#white {
    left:0px;
    top: 55vh;
    height: 45vh;
    width: 100%;    
    background-image: linear-gradient(45deg, rgb(37, 37, 37), rgb(255, 255, 255));
    box-shadow: 0px 0px 20px 10px black;
}

@media only screen and (max-height: 750px) {

}

@media only screen and (min-height: 750px) {
    #ball {
        position: relative;
    }
    
    #b_circle {
        position: absolute;
        top: 25px;
        left: -150px;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(53, 53, 53));
    }
    
    #w_circle {
        position: absolute;
        top: 50px;
        left: -123px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, rgb(59, 59, 59), rgb(255, 255, 255));
        transition: all 0.70s ease;
        box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
        z-index: 1;
    }
    
    #w_circle:hover {
        top: 57px;
        left: -120px;
        height: 240px;
        width: 240px;
        cursor: pointer;
        box-shadow: 0px 0px 200px 30px red;
    }
    
    #title_container > #logo {
        cursor: pointer;
        opacity: 0;
        transition: 
            opacity 1s ease-in, 
            width 0.2s ease-out;
        width: 500px;
        height: 124px;
        margin-top: 10vh;
    }
    
    #title_container > #logo.load {
        opacity: 1;
    }
    
    #title_container > #logo.load:hover {
        width: 515px;
        height: 124px;
        transition: width 0.2s ease-out;
    }
    
    #title_container > #instructions_title {
        margin-top: 45vh;
        font-size: 32px;
        cursor: pointer;
    }
    
    #title_container > #instructions_title:hover {
        font-weight: bold;
    }
    
    #title_container > #instructions_text {
        width: 500px;
        margin-top: -20px;
        text-align: center; 
        transition: 
            opacity 0.5s ease-in, 
            text-shadow 0.2s ease-in;
    }
    
    #instructions_title, #instructions_text {
        z-index: 3;
        transition: text-shadow 0.2s ease-in;
        text-shadow:1px 1px 10px rgb(22, 145, 245), 1px 1px 10px #ccc;
    }
    
    #instructions_title:hover, #instructions_text:hover {
        transition: text-shadow 0.2s ease-in;
        text-shadow:1px 1px 10px rgb(97, 255, 105), 1px 1px 10px #ccc;
    }
    
    .hide {
        transition: opacity 0.5s ease-in;
        opacity: 0;
    }
}
