body {
    font-family: 'Varela Round', sans-serif;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}
// -----------------------------------------------------------
// Title Page

#red, #black, #white, #b_circle, #w_circle {
    position: absolute;
    opacity: 1;
    z-index: -1;
    top: 0;
}

#red {
    left: 0px;
    top: 0px;
    height: 400px;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(75, 1, 1), red);
}

#black {
    left: 0px;
    top: 340px;
    height: 100px;
    width: 100%;     
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(56, 56, 56));
}

#white {
    left:0px;
    top: 425px;
    height: 400px;
    width: 100%;    
    background-image: linear-gradient(45deg, rgb(102, 102, 102), rgb(255, 255, 255));
}

#b_circle {
    left: 600px;
    top: 235px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(41, 41, 41));
}

#w_circle {
    left: 625px;
    top: 260px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, rgb(102, 102, 102), rgb(255, 255, 255));
    transition: all 0.70s ease;
}

#w_circle:hover {
    left: 630px;
    top: 267px;
    height: 240px;
    width: 240px;
    cursor: pointer;
    box-shadow: 0px 0px 200px 30px red;
}

#title {
    left: 520px;
    top: 90px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s ease-in;
}

#title.load {
    opacity: 1;
}

#instructions_container {
    left: 500px;
    top: 550px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

#instructions_text {
    width: 500px;
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(59, 59, 59);
}

// -----------------------------------------------------------
// Header and Footer

header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    height: 6%;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    opacity: 1.0;
    color: white;
}

#logo {
    width: 200px;
}

#logo:hover {
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin-right: 50px;
    margin-top: 0px;
    font-size: 24px;
}

nav ul li:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: underline;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    height: 7%;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    opacity: 1.0;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

footer:hover {
    opacity: 1.0;
}

#footer_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 5px;
}

#footer_list p {
    width: 300px;
    margin: 0;
}

// -----------------------------------------------------------
// Background video

#background_video {
    position: fixed;
    left: 0px;
    top: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
    
// -----------------------------------------------------------
// Main search container
#searchpage {
    display: flex;
    min-width: 25%;
    min-height: 100%;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 275px;
}

#searchpage section {
    width: 300px;
    height: 200px;
    background: linear-gradient(45deg, rgb(104, 127, 255), rgb(152, 152, 172));
    opacity: 0.80;
    margin: 10px;
    border-radius: 3%;
    transition: all 0.2s ease;
}

#searchpage section:hover {
    opacity: 1.0;
}

#selection_container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#autosuggestion_container {
    display: flex;
    justify-content: center;
}

#searchbar_container form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#filter_container {
}


// -----------------------------------------------------------
